<h1>{{name}}</h1>
<h6>Username: {{username}}</h6>
<h6>Email: {{username}}</h6>

{{gravatar-image email=email size="200"}}
<h3>Your reviews:</h3>
{{#each  review in reviews}}
    {{review-overview review= review}}
{{else}}
    <p class="bg-info">No reviews to be found? write one or upload a document!</p>
{{/each}}


<h3>Your documents:</h3>
{{#each document in documents }}
    {{document-overview document=document}}
{{else}}
    <p class="bg-info">No reviews to be found? write one or upload a document!</p>
{{/each}}


