<h2>Register</h2>

<form {{action "createUser" on="submit"}}>
    <div class='row form-group {{bind-attr class='errors.name:has-error'}}'>
        <label class="col-sm-2 control-label">Full Name</label>

        <div class="col-sm-3">{{input class="form-control"  type="text" value=name placeholder="Full Name"}}
            {{#if errors.name}}
                <span class="help-block text-danger">{{errors.name}}</span>
            {{/if}}
        </div>
    </div>
    <br/>

    <div class='row form-group' {{bind-attr class='errors.email:has-error'}}>
        <label class="col-sm-2 control-label">Email Address</label>

        <div class="col-sm-3">{{input  class="form-control"  type="email" value=email placeholder="Email Address"}}
            {{#if errors.email}}
                <span class="help-block text-danger">{{errors.email}}</span>
            {{/if}}
        </div>
    </div>
    <br/>

    <div class="row form-group" {{bind-attr class='errors.username:has-error'}}>

        <label class="col-sm-2 control-label">Username</label>

        <div class="col-sm-3">
            {{input class="form-control"  type="text" value=username placeholder="Username"}}
            {{#if errors.username}}
                <span class="help-block text-danger">{{errors.username}}</span>
            {{/if}}</div>
    </div>


    <br/>

    <div class="form-group row {{bind-attr class='errors.password:has-error'}}">

        <label class="col-sm-2 control-label">Password</label>

        <div class="col-sm-3">
            {{input class="form-control"  type="password" value=password placeholder="Password"}}
            {{#if errors.password}}
                <span class="help-block text-danger">{{errors.password}}</span>
            {{/if}}
        </div>
    </div>
    <br/>

    <div class=" row form-group " {{bind-attr class='errors.password_confirmation:has-error'}}>
        <label class="col-sm-2 control-label">Confirm Password</label>

        <div class="col-sm-3">{{input class="form-control"  type="password" value=password_confirmation placeholder="Confirm Password"}}
            {{#if errors.password_confirmation}}
                <span class="help-block text-danger">
                    {{errors.password_confirmation}}
                </span>
            {{/if}}
        </div>
    </div>

    <br>
    <button class="btn btn-success" type="submit">Submit</button>
</form>